h1, h2 {
	font-family: PT sans;
	font-style: thin;
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

#nav ul {
    display: inline-block;
}


* {
	font-family: Raleway;
	font-weight: 200;
	line-height: 150%;
}

#community_parent {
  width:800px;
  height: 900px;
  margin-right: 0px;
  float: left;
}
.community_child {
  float: left;
  margin-right: 0px;
  width:266px;
}

.center { margin: 0 auto;}

a {
    text-decoration: none !important;
    color: red;
}


.emphasis {
	font-weight: 700
}

img {
    max-width: 98%;
    max-height: 100%;
}


.li1 {
    display: inline;
}
.li1 {
    float: left;
}

.a_nav {
    display: block;
    padding: 8px;
    color: red;
}