.center {
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
}

h1, h2 {
	font-family: PT sans;
	font-style: thin;
}

* {
	font-family: Raleway;
	font-weight: 200;
	line-height: 150%;
}

a {
    text-decoration: none !important;
    color: red;
}
}

.emphasis {
	font-weight: 700
}

img {
    max-width: 98%;
    max-height: 100%;
}


.li1 {
    display: inline;
}
.li1 {
    float: left;
}

.a_nav {
    display: block;
    padding: 8px;
    color: red;
}