.center {
    margin: auto;
    width: 50%;
    border: 0px solid green;
    padding: 10px;
}

h1, h2 {
	font-family: PT sans;
	font-style: thin;
}

* {
	font-family: Raleway;
	font-weight: 200;
	line-height: 150%;
}

	
.emphasis {
	font-weight: 700
}



li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    color: red;
}